build-Cpp-Desktop-Release/
python/*
__pycache__/*
*.pyc
.vscode/*
data/json/**/current.json
data/csv/*
data/*.db
data/*.db-*
Cpp/build/*
.clangd/*
.ccls-cache/*
**.swp
compile_commands.json
release/
app/app/src/androidTest/
app/.idea/
app/app/src/test/
Python/keys.json
Cpp/WebApp/keys.json
app/.project
app/.settings/*
app/app/.classpath
app/app/.project
app/app/.settings/*
