__pycache__/*
*.pyc
.vscode/*
.clangd/*
Cpp/.ccls-cache/*
.ccls-cache/*
**.swp
Cpp/.cache/*
build-Cpp-Desktop-Release/
python/*
Python/keys.json
Cpp/tests/catch/*
data/json/**/current.json
data/csv/*
data/*.db
data/*.db-*
Cpp/build/*
Cpp/.vscode
Cpp/WebApp/keys.json
Cpp/WebApp/extern/uWebSockets
Cpp/python/pybind11
compile_commands.json
release/
.firebase/*
.firebaserc
ecosystem-*
tags
