__pycache__/*
*.pyc
.vscode/*
.clangd/*
simulation/.ccls-cache/*
.ccls-cache/*
**.swp
simulation/.cache/*
python/*
Python/keys.json
simulation/tests/catch/*
data/json/**/current.json
data/csv/*
data/*.db
data/*.db-*
simulation/build/*
simulation/.vscode
simulation/WebApp/keys.json
simulation/WebApp/extern/uWebSockets
simulation/python/pybind11
simulation/Testing/*
compile_commands.json
release/
.firebase/*
.firebaserc
ecosystem-*
tags
**/output/**
**/.DS_Store