* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 160px;
    font-weight: 700;
    letter-spacing: -10px;
    text-indent: -10px;
}

h2 {
    font-weight: 400;
}

.float-nav {
    position: fixed;
    right: 80px;
    height: 176px;
    top: 50%;
    margin-top: -88px;
    z-index: 20;
}

.float-nav > a {
    display: block;
    width: 15px;
    height: 20px;
    margin-bottom: 2px;
    font: 0/0 a;
    color: transparent;
    opacity: 0.2;
}

.float-nav > a:after {
    content: ' ';
    display: block;
    height: 2px;
    background-color: #000;
    margin-top: 10px;
}

.float-nav > .-active {
    opacity: 1;
}

.main-nav {
    font-size: 16px;
    position: fixed;
    top: 10%;
    left: 5%;
    z-index: 20;
}

.main-nav a {
    color: #000;
    display: inline-block;
    margin-right: 30px;
    position: relative;
}

.main-nav.-light svg {
    display: inline-block;
    transform: rotate(180deg);
    fill:#fff;
    margin-right: 8px;
    width: auto;
    width: 32px;
}

.main-nav.-light a {
    color: #fff;
}

.main-nav a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0%;
    background: #000;
    transition: all 300ms ease;
}

.main-nav a.-active:after {
    width: 100%;
}

.main-nav a:hover {
    opacity: .7;
}

@media (max-width: 768px) {
    .main-nav {
        font-size: 14px;
        top: 40px;
        left: 40px;
    }

    .main-nav a:after {
        height: 1px;
        top: 8px;
    }

    .main-nav.-light {
        position: absolute;
        font-size: 12px;
    }

    .main-nav.-light svg {
        width: 20px;
    }
}

.full-link {
    display: block;
    color: #000;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.full-section {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
}


.full-section > article {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    bottom: 15%;
    left: 5%;
}

.full-section > article > p {
    width: 40%;
    font-size: 18px;
    line-height: 150%;
}

@media (max-width: 768px) {
    .full-section > article {
        left: 0;
        bottom: 0;
        padding-left: 40px;
        padding-bottom: 40px;
        width: 100%;
    }

    .full-section > article h1 {
        font-size: 45px;
        letter-spacing: -2px;
        text-indent: -2px;
        margin: 0;
    }
    .full-section > article > p,
    .full-section > article > br {
        display: none;
    }

    .full-section.-hello > article > p {
        display: block;
        font-size: 14px;
        width: 100%;
    }

    .full-section > article > img {
        width: 20px;
    }
}

/*************/

.full-section.-hello {
    background-color: #fff;
    background-image: url('../img/home.jpg');
}

/*************/

.full-section.-contribute {
    background-color: #fff;
    background-image: url('../img/contrib.jpg');
}

/*************/

.article-splitted > .text {
    float: left;
    width: 50%;
    margin-right: 10%;
}

.article-splitted > .text p {
    font-size: 18px;
    line-height: 150%;
}

.article-splitted > .lists ul {
    float: left;
    margin-right: 10%;
}

.article-splitted > .lists ul li {
    line-height: 200%;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.article-splitted > .lists ul li a {
    color: #000;
    border-bottom: 1px solid #000;
}

@media (max-width: 768px) {
    .article-splitted > .text {
        width: 95%;
        margin-right: 0;
        padding-right: 40px;
        margin-bottom: 15px;
    }

    .article-splitted > .text p {
        font-size: 13px;
    }

    .article-splitted > .lists ul li {
        font-size: 13px;
    }
}

/********************/
